<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" />
    <title>Assignment1</title>
  </head>
  <body>
    <%- include('header') %>
    <section class="mainContainer">
      <div id="headline" class="headline">
        <h1>DelayResult</h1>
      </div>
      <form id="form" class="innerContainer">
        <label><h2>Enter two valid numbers</h2></label>
        <input type="text" id="number1" />
        <input type="text" id="number2" />
        <label><h2>Enter a delay time (sec):</h2></label>
        <input type="text" id="delayTime" />
        <button class="btn" id="formSubmit">send</button>
      </form>

      <script src="./js/assignment1.js"></script>
    </section>
  </body>
</html>
