
*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
}
header{
    width: 100%;
    background-color: gainsboro;
    margin: 0;
}
.header-container{
    padding: 10px 30px;
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.btns{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.banner{
    height: 300px;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxs-container{
    display:grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width:1200px;
}
.box{
    grid-column: 1fr;
    cursor: pointer;
}
.box:hover{
    opacity: 50%;
}

.question{
    margin:40px auto;
}
.img-container{
    height:300px;
    width:300px;
    margin: 0px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.img-container>img{
    height:100%;
}

.reference{
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    width: fit-content;
    width: 100%;
    max-width: 1200px;
}
.hint{
    margin: 40px auto;
}
.hint-btn{
    width: 100px;
    height: 50px;
    font-size: 30px;
}
ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
}
ul>li{
    word-break: break-all;
}
main{
    position: relative;
}
.popup{
    display: none;
    width: 360px;
    height: 460px;
    border-radius: 30px;
    background-color: lightcyan;
    position: fixed;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.active{
    display:block;
}
.upper{
    position: relative;
    height:100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper>h1{
    margin-bottom: 20px;
}
.closebtn{
    border: 2px solid black;
    position: absolute;
    right: 25px;
    top: 15px;
    width: 35px;
    height: 35px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    background: pink;
    z-index: 1;
}

@media screen and (min-width:700px){
    .boxs-container{
        grid-template-columns: 1fr 1fr;
    }
}



