<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>Week4</title>
  </head>
  <body>
    <%- include('header') %>
    <section class="mainContainer">
      <h1 class="headline">Week 4 assignments</h1>
      <nav>
        <ul class="innerContainer">
          <li class="btn"><a href="/assignment1">Delay Result</a></li>
          <li class="btn"><a href="/assignment2">Get Phones Info</a></li>
          <li class="btn"><a href="/user">User Page</a></li>
          <li class="btn"><a href="/assignment3">Articles</a></li>
        </ul>
      </nav>
    </section>
  </body>
</html>
